.cover {
	width: 100%;
	height: 736px;
	position: relative;
	background: url(http://localhost:8080/img/space.png) no-repeat center center;
}
.content {
	width: 435px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 9%;
	margin-left: 33%;
}
.console {
	height: 100px;
    padding-top: 30px;
}
.control {
	float: left;
    margin-top: 50px;
    margin-left: 40px;
    width: 150px;
}
.intro>div {
	display: block;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 15px;
}
.play {
	width: 100%;
	height: 200px;
	background: rgb(256,256,256,0.5);
	border-radius: 5px;
}
.process {
	position: relative;
	width: 85%;
	margin: 0 auto;
	cursor: pointer;
}
.bar {
	background: #ccc;
    width: 100%;
    height: 3px;
}
.r {
	background: #000;
    height: 3px;
    width: 0%;
    margin-top: -3px;
}
.time {
	float: right;
    margin-right: 32px;
    margin-top: 10px;
}
ul {
	width: 100%;
	height: 105px;
	background: rgb(256,256,256,0.02);
	margin-top: 2px;
	margin: 0;
	padding: 0;
	border-radius: 5px
}
ul>li {
	text-align: left;
	padding: 5px 0 6px 40px;
	color: #4a6359;
	border: solid 1px #4a6359;
    border-radius: 5px;
    cursor: pointer;
}
.iconfont {
	font-size: 25px;
	display: inline;
}
.trans {
	display: inline;
}
.icon-play {
	display: inline-block;
}
.icon-stop {
	display: none;
}
.active {
	box-shadow: 0px 0px 7px 1px rgb(0,0,0,0.5);
	background: rgb(256,256,256,0.5);
}